
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>
<div class="alert alert-success">
    The task has been deleted.
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

